# S3 Credentials
AWS_ACCESS_KEY_ID=s3admin
AWS_SECRET_ACCESS_KEY=s3admin
AWS_DEFAULT_REGION=us-east-1

# RustFS
S3_BUCKET=mlflowartifacts

# MLflow
MLFLOW_VERSION=3.12.0
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000

MLFLOW_BACKEND_STORE_URI=sqlite:///data/db/mlflow.db
MLFLOW_ARTIFACTS_DESTINATION=s3://${S3_BUCKET}
MLFLOW_S3_ENDPOINT_URL=http://storage:9000


